@mixin button(){
    height: 25px;
    width: 125px;
    margin: 0px 20px;
    padding: 18px;
    color: $lightText;
    font-family: $smallText;
    font-size: $smallTextSize;
    text-decoration: none;
    background-color: $navBackColor;
    border-radius: 10px;
    // transition: scale ease-in;
    &:hover {
        background-color: lighten($navBackColor, 5%);
        cursor: pointer;
        // transform: scale(1.5, 1.08);
    }

}