
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');

$cafeNameFont: 'Courgette', cursive;
$cafeTextSize: 8rem;
$smallText: 'Noto Sans JP', sans-serif;
$smallTextSize: 12px;
$largeText: 'Merriweather Sans', sans-serif;
$largeTextSize: 30px;

