@import "./vendor/normalize";
@import "./partials/_colors";
@import "./partials/_text";
@import "./partials/_mixins";



   

   header {
      display: grid;
      grid-template-rows: 150px auto;
      grid-template-columns: 1fr;
     
      .cafeName {
        background-color: $headerBackColor;
        // text-shadow: 1px 1px darkgray;
        height: 150px;
        width: 1fr;
        h1{
        font-family: $cafeNameFont;
        font-size: $cafeTextSize;
        color: $cafeNameColor;
        text-align: center;
        }
      }

      .navColor {
        height: auto;
        background-color: $navBackColor;       
       }
    }//  ending bracket for header

    footer{
        // display: grid;
        // grid-template-rows: 80px;
        // grid-template-columns: 1fr;
        height: 80px;
        width: 100%;
        background-color: $navBackColor;
        color: $lightText;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $smallText;
    }

  .content{
    gap: 3px;
    background-color: $lightBackground;
    display: grid;
    grid-template-rows: 480px 180px auto 380px 180px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "otherPages"
      "mainFood"
      "aside"
      "aside2";
     justify-content: center;
     align-items: center;

      .mainFood{
          height: 480px;
          width: 100%;
          margin: 20px 0px;
          padding: 25px;
          background-color: $darkBackground;
          grid-area: hero;
          text-align: center;
 
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          align-items: center;
          .image{
              img{
              margin: 0px;
              border-radius: 20px;
              }
              figcaption{
              font-family: $smallText;
              margin: -10px;
              }
          }
          .text{
              h2{
              font-family: $largeText;
              }
              p{
              font-family: $smallText;
              }
          }
      } //mainFood

      .otherPages{
        height: 180px;
        width: 100%;
        background-color: $darkBackground;
        grid-area: otherPages;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        h3{
            flex: 1;
            margin: 20px;
            font-family: $largeText;
            text-align: center;
        }
        .buttons{
            flex: 1.5;
            .otherPages2{
                @include button();
            }
        }
        

      }

      .foodList{
          background-color: $darkBackground;
          grid-area: mainFood;
          padding: 25px;
          .foods{
              padding: 7px;
          }
          h3{
              font-family: $largeText;
          }
          p{
              font-family: $smallText;
            }
          dt{
              font-family: $largeText;
          }
          dd{
              font-family: $smallText;
          }
          
         
      }

      .additionalInfo{
          height: 380px;
          width: 100%;
          background-color: $darkBackground;
          grid-area: aside;
          padding: 25px;
          h4{
              font-family: $largeText;
          }
          p{
              font-family: $smallText;
          }
          a{
              @include button();
          }

      }

      .download{
          height: 180px;
          width: 100%;
          background-color: $darkBackground;
          grid-area: aside2;
          padding: 25px;
          h4{
              font-family: $largeText;
          }
          p{
              font-family: $smallText;
          }
          a{
              @include button();
          }
      }

     

  } //ending bracket .content

 

//this section for large screen sizes and up
@media (min-width: 992px){
    .navColor{
        li{
            padding: 0px 15px;
        }
    }
    .content{
    background-color: $lightBackground;
    padding: 15px 10px 10px 10px;
    display: grid;
    grid-template-rows: 380px auto 350px;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    grid-template-areas: 
       "hero hero"
       "mainFood otherPages"
       "aside aside2";
    justify-content: center;
    align-items: center;

    .mainFood{
        height: 380px;
        border-radius: 10px;
        margin: 0px;
        padding: 5px;
        grid-area: hero;
          flex-flow: row ;
          justify-content: flex-start;
          align-items: center;
          .image{
              flex: 1;
            }
          
          .text{
              flex: 1.5;
              margin: 0px 20px;
              padding: 15px;
            p {
              text-align: left;
              }
          }
    }
    .otherPages{
        height: 100%;
        border-radius: 10px;
        grid-area: otherPages;
     
       .buttons{ 
        display: flex;
        flex-flow: row wrap;
        justify-content: center;    
        }
        
    }
    .foodList{
        grid-area: mainFood;
        border-radius: 10px;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        .foods{
            padding: 15px;
        }
    }
    .additionalInfo{
        height: 100%;
        border-radius: 10px;
        grid-area: aside;
    }
    .download{
        height: 100%;
        border-radius: 10px;
        grid-area: aside2;
    }
   

    }//
   
} //ending bracket for @media



